.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
revdep
rasterpic.Rcheck/
rasterpic*.tar.gz
rasterpic*.tgz
inst/doc
CRAN-SUBMISSION
.github/pkg.lock
cran-comments*
cran-comments.md
